# -- Site Configuration --
# Refer to the theme docs for more details about each of these parameters.
# https://blowfish.page/docs/getting-started/

theme = "blowfish"
baseURL = "https://ronyut.github.io/"
defaultContentLanguage = "en"
timeout = "5m"

pluralizeListTitles = "false" # hugo function useful for non-english languages, find out more in  https://gohugo.io/getting-started/configuration/#pluralizelisttitles

enableRobotsTXT = true
summaryLength = 0

buildDrafts = false
buildFuture = false

enableEmoji = true

googleAnalytics = "G-MY0D1S8BTD"

[pagination]
  pagerSize = 20

[imaging]
  anchor = 'Center'

[taxonomies]
  tag = "tags"
  category = "categories"
  author = "authors"
  series = "series"

[sitemap]
  changefreq = 'daily'
  filename = 'sitemap.xml'
  priority = 0.5

[outputs]
  home = ["HTML", "RSS", "JSON"]

[related]
  threshold = 0
  toLower = false

    [[related.indices]]
        name = "tags"
        weight = 100

    [[related.indices]]
        name = "categories"
        weight = 100

    [[related.indices]]
        name = "series"
        weight = 50

    [[related.indices]]
        name = "authors"
        weight = 20

    [[related.indices]]
        name = "date"
        weight = 10

    [[related.indices]]
      applyFilter = false
      name = 'fragmentrefs'
      type = 'fragments'
      weight = 10

[params.csp]
  "default-src" = ["'self'"]
  "connect-src" = ["'self'", "https://www.google-analytics.com"]
  "script-src"  = ["'self'", "'sha256-2pa3NIoxYutjJt4200eTmqmSOmWWhLG7jZ5D9H9KnSk='", "'sha256-xhi6ptLg8dTM2XBtV/SYNxtnsQEnSv5wPm9wxHSlpUI='", "'sha256-MTMVBOnL3rJJ90zyllEXyHqGJoWcVyAEwjFtVg7PZJQ='"]
  "style-src"   = ["'self'", "'unsafe-inline'", "https://fonts.googleapis.com"]
  "font-src"    = ["https://fonts.gstatic.com"]
  "img-src"     = ["'self'", "data:"]