:root {
  --default-font-family: 'Roboto', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --color-primary-500: rgba(255, 255, 255, 1);
  --color-green-bright: rgb(39, 203, 69);
  --color-green-dark: rgba(46, 130, 74, 0.31);
  --color-green-faint: rgb(213 255 221);
  --article-text-color: #e0e0e0;
  --color-tag: #ffffffa8;
}

body {
  background-color: #222222;
  line-height: 1.7;
  color: var(--article-text-color);
}

h1 {
  color: white;
  text-shadow: 4px 3px 1px rgb(0 0 0);
}

h1, h2, h3, .nav-links, code {
  font-family: var(--font-mono);
}

a:hover {
  color: var(--color-green-bright);
  background-color: unset !important;
}

/* tags and categories badges */
a[href^="/tags"] span, a[href^="/categories"] span {
  color: var(--color-tag);
  border-color: var(--color-tag);
}

a[href^="/tags"] span:hover, a[href^="/categories"] span:hover {
  color: white;
  border-color: var(--color-green-bright);
}

/*
 *************************************************
 * Home page
 *************************************************
 */

 /* hide title */
 .text-base.font-medium.truncate.min-w-0.shrink {
  display: none;
 }

article h2 {
  color: var(--color-green-faint);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

#background-blur {
  --tw-gradient-from: rgba(0, 0, 0, 0.5);
  --tw-gradient-to: var(--color-green-dark);
}

#author-image {
  border-bottom: 4px solid #2f833ed9;
  border-right: 4px solid #2f833ed9;
  box-shadow: #000000 10px 10px 1px;
}

#author-image:hover {
  border-bottom: 4px solid var(--color-green-bright);
  border-right: 4px solid var(--color-green-bright);
}

.social-button {
  color: var(--color-green-faint);
}

#hero_description {
  color: white;
  background: #2339198f;
  font-family: monospace;
  margin: 10px 0 10px 0;
  border: 1px solid white;
  padding: 10px;
  max-width: 880px;
}

#hero_description_read_more {
  color: var(--color-green-faint);
}

#hero_description_read_more:hover {
  cursor: pointer;
  color: white;
  border-bottom: 2px solid var(--color-green-bright);
}

.homepage-posts-section {
  border-top: 2px solid var(--color-green-dark);
  padding-top: 20px;
}

.homepage-posts-section article:hover {
  background-color: var(--color-green-dark);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-green-faint);
}

.homepage-posts-section article:hover h2 {
  color: white;
}

.homepage-posts-section article header + div {
  position: relative;
  z-index: 2;
}

.show-all-posts-button {
  border: 1px solid rgba(var(--color-neutral-600),1);
  color: white;
}

.show-all-posts-button:hover {
  background-color: var(--color-green-dark);
  border-color: var(--color-green-bright);
}

/*
 *************************************************
 * Main menu (nav bar)
 *************************************************
 */

.main-menu {
  font-family: var(--font-mono);
}

.main-menu nav a:hover {
  color: white;
  border-bottom: 2px solid var(--color-green-bright);
}

/* Global search */
#search-query {
  --tw-ring-color: var(--color-green-bright);
  border-color: var(--color-green-bright);
}

#search-button:hover {
  color: var(--color-green-bright);
}


/*
 *************************************************
 * Posts list page
 *************************************************
 */

main#main-content > section.w-full {  
  border: 3px solid rgba(0, 255, 0, 0.1);
  padding: 30px;
  background: #00210340;
}

main#main-content > section.w-full article:hover {
  background-color: var(--color-green-dark);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-green-faint);
}

main#main-content > section.w-full article:hover h2 {
  color: white;
}

main#main-content > section.w-full article header + div {
  position: relative;
  z-index: 2;
}

/*
 *************************************************
 * Article
 *************************************************
 */

 /* collapsible section */
summary {
  cursor: pointer;
}

summary:hover {
  text-decoration: underline;
}

.single_hero_background {
  background: linear-gradient(rgba(0,0,0,0) 80%, #0d1117 100%);
}

 /* Table of contents */
#TOCView {
  background: rgba(0, 0, 0, 0.3); /* Slightly darker than the BG */
}

#TOCView :where(a.active):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  text-decoration-color: var(--color-green-bright);
}

#TOCView a:hover {
  color: var(--color-green-faint);
}

/* hero bg overlay */

#hero + .single_hero_background > div:nth-of-type(1) { 
  opacity: 1;
  height: 100dvh;
}

#hero + .single_hero_background > div:nth-of-type(2) {
  opacity: 0.7;
  height: 100dvh;
}

/* Math Latex height fix */
mjx-mo > mjx-c, mjx-mi > mjx-c, mjx-mn > mjx-c, mjx-ms > mjx-c, mjx-mtext > mjx-c {
  clip-path: unset !important;
}

.highlight > pre {
  background-color: rgb(17 17 24 / 42%) !important;
}

/* inside article */
article h2.relative.group {
  color: var(--color-green-bright);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}